[submodule "AnyPanel/json"]
	path = AnyPanel/json
	url = https://github.com/nlohmann/json.git
[submodule "AnyPanel/asio"]
	path = AnyPanel/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "AnyPanel/tinyformat"]
	path = AnyPanel/tinyformat
	url = https://github.com/c42f/tinyformat.git
