body {
  margin: 0;
  color: %s;
  background-color: %s;
}

.color1 {
  color: %s;
  background-color: %s;
}

.color2 {
  color: %s;
  background-color: %s;
}

table {
  font-family: %s;
  font-size: %s;
  width: 100%%;
  border-collapse: collapse;
  table-layout: fixed;
}

table, td, th {
  border: %s;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

